---
---

@import 'bootstrap/bootstrap';

.container main {
    padding-top: $spacer;
}

// for accessibility features
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// navigation
  .primary-nav {
      border-bottom: map-get($spacers, 1) solid $secondary;

      .navbar-brand {
          font-family: $headings-font-family,
      }
  }

  .subnav {
      padding: map-get($spacers, 0) $spacer map-get($spacers, 0) $spacer;
      min-height: $spacer * 2.5;

      button {
          border: none;
      }
  }

// list
.category-list {
    padding: map-get($spacers, 3);
    overflow-wrap: normal;

    img {
        width: $spacer * 6;
    }
}

/* Sticky footer styles for bootstrap */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 45px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    padding-top: map-get($spacers, 3);
    bottom: 0;
    width: 100%;
    height: map-get($spacers, 5); /* Set the fixed height of the footer here */
    line-height: map-get($spacers, 5); /* Vertically center the text there */
  }
  