---
layout: default
title: Demos
permalink: /Research/Demos
---

<header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
</header>

<!-- below just iterates through the members without sorting -->
<ul class="post-list">
  {% for demo in site.demos %}
    <li>
        <h2><a href="{{ demo.url }}">{{ demo.name }}</a></h2>
        <h3>{{ demo.creators }}</h3>

        <p>{{ demo.content | markdownify }}</p>

    </li>
  {% endfor %}
</ul>

    <!-- {% assign projects = site.projects | group_by: 'category' %}

    <h3>
    {% for cat in members %}
        <a href="#{{ cat.name }}"> {{ cat.name }} </a> 
    {% endfor %}
    </h3>

    {% for cat in members %}
        <h2><a name="{{ cat.name }}"></a>{{ cat.name | capitalize }}</h2>
        <ul class="post-list">
            {% assign items = cat.items | sort: 'order' %}
            {% for item in items %}
                <li>
                    <h3><a href="{{ item.url }}">{{ item.name }}</a>, {{ item.position }}</h3>
                    <p>{{ item.content | markdownify }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endfor %} -->