$primary: #AA5584;
$dark: #491336;
$secondary: #BC7BA0;

$headings-color: $dark;

$font-family-sans-serif: 'Roboto', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family: 'Roboto Condensed';

