<div class="row">
    <h2 class="text-muted">
        {% if page.creators%}
            {% for creator in page.creators %}
                {% if forloop.last == true %}
                    {{ creator }}
                {% else %}
                    {{ creator }},
                {% endif %}
            {% endfor %}
        {% endif %}
    </h2>

    {% if page.external-url %}
        <a href="{{page.external-url}}" target=_blank >View Site</a>
    {% endif %}
    
    {% if page.funding %}
    <h3 class="text-muted">{{page.funding }}</h3>
    {% endif %}
</div>