<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark primary-nav" aria-label="primary navigation">
    <div class="container">
      <a class="navbar-brand display" href="{{ "/" | relative_url }}">{{ site.title | upcase }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    
          {%- assign default_paths = site.pages | map: "path" -%}
    
          {% for item in site.data.navigation.main %} 
            <li class="nav-item">
              {% if item.page == page.navigation %}
                <a class="nav-link active" href="{{ item.url }}">
                  {{ item.page | capitalize }}
                </a>
              {% else %}
                <a class="nav-link" href="{{ item.url }}">
                  {{ item.page | capitalize }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
    
        </ul>
      </div>
    </div> <!-- end container -->
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary subnav" aria-label="subnavigation">
    <div class="container">
      {% if page.navigation %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subNavigation" aria-controls="subNavigation" aria-expanded="false" aria-label="Toggle subnavigation">
        <span class="navbar-toggler-icon"></span> {{ page.navigation | capitalize }}
      </button>

      
      <div class="collapse navbar-collapse" id="subNavigation">
        <ul class="navbar-nav mr-auto">
          {% for item in site.data.navigation[page.navigation] %}
            <li class="nav-item">
              <!-- setting active link class for decoration -->
              {% if item.page == page.title %}
                <a class="nav-link active" href="{{ item.url }}">
                  {{ item.page | capitalize }}
                </a>
                {% elsif item.external  %}
                <a target="_blank" rel="noopener noreferrer" class="nav-link" href="{{ item.url }}">
                    {{ item.page | capitalize }}
                </a>
                {% else %}
                <a class="nav-link" href="{{ item.url }}">
                  {{ item.page | capitalize }}
                </a>
              {% endif %}
              
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </nav>
</header>

