<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {%- assign default_paths = site.pages | map: "path" -%}

      {% for item in site.data.navigation.main %} 
      <li class="nav-item">
          <a class="nav-link" href="{{ item.url }}">
            {{ item.page }}
          </a>        
      </li>
      {% endfor %}

      {% if page.navigation %}
        {% for item in site.data.navigation[page.navigation] %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.url }}">
            {{ item.page | escape}}
          </a>
        </li>
        {% endfor %}

    {% endif %}

    
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand display" href="{{ "/" | relative_url }}">{{ site.title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
        {%- assign default_paths = site.pages | map: "path" -%}
  
        {% for item in site.data.navigation.main %} 
          <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}">
                {{ item.page }}
              </a>        
          </li>
        {% endfor %}
  
      </ul>
    </div>
  </nav>

{% if page.navigation %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subNavigation" aria-controls="subNavigation" aria-expanded="false" aria-label="Toggle subnavigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="subNavigation">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.navigation[page.navigation] %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.url }}">
            {{ item.page | escape}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endif %}