<li class="media preview-list">
    {% if item.image %}
        <img class="mr-3" src="{{ item.image }}" alt="{{ item.altdescription }}">
    {% endif %}

    <div class="mt-0 mb-1">
        <h2 class=""><a href="{{ item.url }}">{{ item.name }}</a></h2>
        <h3 class=" h4 text-muted">
            <!-- checks for course-number to display course-only information -->
            {% if item.course-number %}
            {{ item.university }}, {{ item.course-number }} {{ item.quarter-held }}
            {% endif %}

            <!-- checks for creators -->
            {% if item.creators %}
                {% for creator in item.creators %}
                    {% if forloop.last == true %}
                        {{ creator }}
                    {% else %}
                        {{ creator }},
                    {% endif %}
                {% endfor %}
            {% endif %}

        </h3>
        <!-- checking for creators because courses should not list an excerpt -->
        {% if item.creators %}
            <p>{{ item.excerpt | markdownify }}</p>
        {% endif %}
    </div>
</li>