<!-- collection, title, and anchor-tag needs to be passed into this to work -->
{% assign collection = include.collection %}
{% assign title = include.title %}
{% assign anchor-tag = include.anchor-tag %}

<div>

        <h2 class="display-6 people-header col"><a name="{{ anchor-tag }}"></a>{{ title }}</h2>

        <ul class="list-group">
            {% for item in collection %}
                <li class=" category-list row"> 
                    
                    {% if item.image %}
                    <div class="col-md-3 col-sm-6">
                    <img class="img-fluid" src="{{ item.image }}" alt="{{ item.altdescription }}">
                    </div>
                    {% endif %}

                    <div class="col">
                        <h3 class="mt-0"><a href="{{ item.url }}">{{ item.name }}</a></h3>
                        <h4 class=" h5 text-muted">{{ item.position }}</h4>
                        <p>{{ item.excerpt | markdownify }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
</div>