<!-- collection, title, and anchor-tag needs to be passed into this to work -->
{% assign collection = include.collection %}
{% assign title = include.title %} 
{% assign link = include.link %} 

<div class="col category-list-title"><h2>{{ title | upcase }}</h2></div>
<div class="col">
<div class="row">
    {% for item in collection %}
        {% if forloop.index < 3 %}
        <div class="category-list row">
            {% if item.image %}
                <div class="col-md-3 col-sm-12">
                    <img class="img-fluid" src="{{ item.image }}" alt="{{ item.altdescription }}">
                </div>
            {% endif %}
            <div class="col">
                <h2 class=""><a href="{{ item.url }}">{{ item.name }}</a></h2>
                <h5 class="text-muted">
                    {% for creator in item.creators %}
                        {% if forloop.last == true %}
                            {{ creator }}
                        {% else %}
                            {{ creator }},
                        {% endif %}
                    {% endfor %}
                </h5>
    
            </div>

            
        </div>
        {% endif %}

        

    {% endfor %}


</div>

<div class="row col category-list-view-more-link">
        <h5><a href="{{link}}">More >></a></h5>
</div>

</div>