<!-- collection, title, and anchor-tag needs to be passed into this to work -->
{% assign collection = include.collection %}
{% assign title = include.title %} 
{% assign link = include.link %} 
<div>
    <h2 class="col">{{ title }}</h2>
    <ul class="list-group">
        {% for item in collection %}
            {% if forloop.index < 3 %}
            <li class="category-list row">
                {% if item.image %}
                    <div class="col-md-3 col-sm-12">
                        <img class="img-fluid" src="{{ item.image }}" alt="{{ item.altdescription }}">
                    </div>
                {% endif %}
                <div class="col">
                    <h3 class=""><a href="{{ item.url }}">{{ item.name }}</a></h3>
                    <h4 class="text-muted">
                            <!-- check for course number -->
                            {% if item.course-number %}
                            {{ item.university }}, {{ item.course-number }} {{ item.quarter-held }}
                            {% endif %}
    
                            <!-- checks for creators -->
                            {% if item.creators %}
                                {% for creator in item.creators %}
                                    {% if forloop.last == true %}
                                        {{ creator }}
                                    {% else %}
                                        {{ creator }},
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    </h4>
        
                </div>

                
            </li>
            {% endif %}

            

        {% endfor %}


        </ul>

    <div class="col category-list-view-more-link">
            <h5><a href="{{link}}">Full List of {{title}}</a></h5>
    </div>
</div>