<!-- collection, title, and link needs to be passed into this to work -->
{% assign collection = include.collection %}
{% assign title = include.title %} 
{% assign link = include.link %} 
    <h2 class="h1 pt-2 pb-3">{{ title }}</h2>

    <ul class="list-group">
        {% for item in collection %}
            {% if forloop.index < 3 %}
                {% include list-item.html %}
            {% endif %}
        {% endfor %}
    </ul>
    
    <h5 class= "h3 pt-3 mb-3"><a href="{{link}}">Full List of {{title}} <span class="fas fa-caret-right" aria-hidden="true"></span></a></h5>
