
<div class="card">
  <div class="" id="heading{{ include.year }}">
      <button class="btn btn-primary btn-bibliography collapsed" data-toggle="collapse" data-target="#collapse{{ include.year }}" aria-expanded="false" aria-controls="collapse{{ includeyear }}">
          <h2 class="h3">{{ include.year }}</h2>
      </button>
  </div>
  <div id="collapse{{ include.year }}" class="collapse" aria-labelledby="heading{{ include.year }}" data-parent="#accordion">
    <div class="card-body">
        {% bibliography --query @*[year= {{ include.year }}] %}
    </div>
  </div>
</div>