<ul class="list-group">
    {% for item in site.[page.collection] %}
        <li class="category-list row col-md-6">
            {% if item.image %}
                <div class="col-md-3 col-sm-12 list-image">
                    <img class="img-fluid" src="{{ item.image }}" alt="{{ item.altdescription }}">
                </div>
            {% endif %}
            
            <div class="col">
                <h2 class=""><a href="{{ item.url }}">{{ item.name }}</a></h2>
                <h5 class="text-muted">
                    {% for creator in item.creators %}
                        {% if forloop.last == true %}
                            {{ creator }}
                        {% else %}
                            {{ creator }},
                        {% endif %}
                    {% endfor %}
                </h5>

                <p>{{ item.excerpt | markdownify }}</p>
            </div>
        </li>
    {% endfor %}
</ul>