<ul class="list-unstyled">
        {% for item in site.[page.collection] %}
            <li class="media">
                {% if item.image %}
                    <img class="mr-3" src="{{ item.image }}" alt="{{ item.altdescription }}">
                {% endif %}
                
                <div class="mt-0 mb-1">
                    <h2 class=""><a href="{{ item.url }}">{{ item.name }}</a></h2>
                    <h3 class="h4 text-muted">
                        {% for creator in item.creators %}
                            {% if forloop.last == true %}
                                {{ creator }}
                            {% else %}
                                {{ creator }},
                            {% endif %}
                        {% endfor %}
                    </h3>
    
                    <p>{{ item.excerpt | markdownify }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>