---
---

@import 'bootstrap/bootstrap';

main {
    padding-top: $spacer;
}

// adds an image to external links and opens in new tab for accessibility.
a[href*="//"]:not([href*="interactiveaudiolab.github.io"]):after, a[target="_blank"]:after {
    margin-left: 3px;
    content: url(/assets/images/icons/external-link-dark.svg)
    }

a:focus {
    outline-color: $dark;
    outline-width: 1em;
}

hr {
    border-top: 1px solid rgba( 230, 158, 199, 1);
}

button {
    border: none;
}

// navigation
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-dark .navbar-brand:focus {
    outline-color:$white;
}

// primary (upper) navigation
.primary-nav {
    padding-bottom: 0;
    border-bottom: map-get($spacers, 1) solid $secondary;

    .navbar-brand {
        font-family: $headings-font-family;

        a:focus {
            outline-color: aqua;
        }
    }

    .navbar-nav {
        .nav-link:hover, .nav-link:focus {
            background-color: $secondary;
            border-top-left-radius: map-get($spacers, 3);
            border-top-right-radius: map-get($spacers, 3);
            color: $dark;
            outline-color: $white;
            }

        .nav-link .active {
            background-color: turquoise;
        }
    }

}

//   subnavigation
.subnav {
    padding-top: map-get($spacers, 0);
    padding-bottom: map-get($spacers, 0);
    min-height: $spacer * 2.5;

    a[href*="//"]:not([href*="interactiveaudiolab.github.io"]):after, a[target="_blank"]:after {
        margin-left: 3px;
        content: url(/assets/images/icons/external-link-light.svg)
        }

    .navbar-nav {
            .nav-link:hover {
        background-color: $secondary;
        border-bottom-left-radius: map-get($spacers, 3);
        border-bottom-right-radius: map-get($spacers, 3);
        color: $dark;
        }
    }
}

// list for one-column list, two-column-list, people-list
.category-list {
    margin: map-get($spacers, 4) 0;
    overflow-wrap: normal;
    list-style: none;

    img {
        padding-bottom: map-get($spacers, 2);
    }

    li {
        padding-bottom: $spacer;
    }
}

.category-list-title h2 {
    padding-top: $spacer;
}

.category-list-view-more-link {
    margin-bottom: map-get($spacers, 5);
}

.preview-list img {
    max-width: 8rem;
    max-height: 8rem;
}

//publications
.bibliography, .bibliography-details {
    list-style: none;
    padding-left: 0px;
}

.bibliography > li{
    padding-top: $spacer;
}

.bibliography, .bibtitle {
    padding-left: 0rem;
}


/* Sticky footer styles for bootstrap */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 45px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    padding-top: map-get($spacers, 3);
    bottom: 0;
    width: 100%;
    height: map-get($spacers, 5); /* Set the fixed height of the footer here */
    // line-height: map-get($spacers, 5); /* Vertically center the text there */
}


// Usage as a mixin
.skip-navigation {
    @include sr-only;
    @include sr-only-focusable;
}

// for accessibility features
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}