---
---

@import 'bootstrap/bootstrap';

.container main {
    padding-top: $spacer;
}

// for accessibility features
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// navigation
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

  .primary-nav {
      padding-bottom: 0;
      border-bottom: map-get($spacers, 1) solid $secondary;

      .navbar-brand {
          font-family: $headings-font-family,
      }

    //   .navbar-brand .nav-link {
    //       padding-bottom: map-get($spacers, 4);
    //   }

      .navbar-nav .nav-link:hover {
        background-color: $secondary;
        border-top-left-radius: map-get($spacers, 3);
        border-top-right-radius: map-get($spacers, 3);
        color: $dark;
      }

      .navbar-nav .nav-link .active {
        background-color: $primary;
        border-top-left-radius: map-get($spacers, 3);
        border-top-right-radius: map-get($spacers, 3);
        color: $white;
      }
  }

  .subnav {
      padding-top: map-get($spacers, 0);
      padding-bottom: map-get($spacers, 0);
      min-height: $spacer * 2.5;

      button {
          border: none;
      }

      .navbar-nav .nav-link:hover {
        background-color: $secondary;
        border-bottom-left-radius: map-get($spacers, 3);
        border-bottom-right-radius: map-get($spacers, 3);
        color: $dark;
      }

      .navbar-nav .nav-link .active {
        background-color: $dark;
        border-top-left-radius: map-get($spacers, 3);
        border-top-right-radius: map-get($spacers, 3);
        color: $white;
      }

    
    //   .nav-link:active {
    //       background-color: $secondary;
    //       color: $dark;
    //   }
  }



// list
.category-list {
    margin: map-get($spacers, 4) 0;
    overflow-wrap: normal;

    img {
        // width: $spacer * 6;
        max-width:100%;
    }
}

//publications
.bibliography, .bibliography-details {
    list-style: none;
    padding-left: $spacer;
    font-size: $font-size-lg;
}

.bibliography > li{
    padding-top: $spacer;
}

.bibliography-details {
    padding-left: 15px;
}

.member-category-header {
    margin: map-get($spacers, 5) auto $spacer auto;
}


/* Sticky footer styles for bootstrap */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 45px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    padding-top: map-get($spacers, 3);
    bottom: 0;
    width: 100%;
    height: map-get($spacers, 5); /* Set the fixed height of the footer here */
    line-height: map-get($spacers, 5); /* Vertically center the text there */
  }
  