$primary: #A63673;
$dark: #5D1840;
$secondary: #E69EC7;

$navbar-dark-color: #fff;
$headings-color: $dark;

$font-family-sans-serif: 'Roboto Condensed', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-font-family: 'Roboto Condensed';
$headings-font-family: 'Oswald';

$navbar-brand-font-size: (1rem * 1.5);

