$primary: #A63673;
// $dark: #491336;
// $dark: #721D4D;
$dark: #5D1840;
$secondary: #E69EC7;

$headings-color: $dark;

// $font-family-sans-serif: 'Roboto', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $font-family-sans-serif: 'Open Sans', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $font-family-sans-serif: 'Roboto Slab', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif: 'Roboto Condensed', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-font-family: 'Roboto Condensed';
$headings-font-family: 'Oswald';

$navbar-brand-font-size: (1rem * 1.5);