---
layout: default
title: Members
permalink: /members/
navigation: members
---

{% assign members = site.members | group_by: 'category' | sort: 'category' %}

{%- include title.html -%}
   
<div class="col">
    {% for cat in members %}
        <h2 class="display-6 member-category-header"><a name="{{ cat.name }}"></a>{{ cat.name | capitalize }}</h2>

        <div class="row">
            {% assign items = cat.items | sort: 'order' %}
            {% for item in items %}
                <div class=" category-list row"> 
                    
                    {% if item.image %}
                    <div class="col-md-3 col-sm-6">
                    <img class="img-fluid" src="{{ item.image }}" alt="{{ item.altdescription }}">
                    </div>
                    {% endif %}

                    <div class="col">
                        <h3 class="mt-0"><a href="{{ item.url }}">{{ item.name }}</a></h3>
                        <p class="text-muted">{{ item.position }}</p>
                        <p>{{ item.excerpt | markdownify }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
    {% endfor %}

</div>