---
layout: default
title: Resources
permalink: /resources/
navigation: resources
---

{%- include title.html -%}

<div class="row">
    <div class="col-md-6">

            <div class="col"><h2>Datasets</h2></div>
            {% for item in site.datasets %}
                {% if forloop.index < 3 %}
                    <div class="category-list row">
                            {% if item.image %}
                                <div class="col-md-3 col-sm-12">
                                    <img class="img-fluid" src="{{ item.image }}" alt="{{ item.altdescription }}">
                                </div>
                            {% endif %}
                            <div class="col">
                                <h2 class=""><a href="{{ item.url }}">{{ item.name }}</a></h2>
                                <h5 class="text-muted">
                                    {% for creator in item.creators %}
                                        {% if forloop.last == true %}
                                            {{ creator }}
                                        {% else %}
                                            {{ creator }},
                                        {% endif %}
                                    {% endfor %}
                                </h5>
                    
                                <p>{{ item.excerpt | markdownify }}</p>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
    
            <div class="col">
                    <a href="/resources/datasets">full list of datasets</a>
            </div>
    
        </div>

    <div class="col-md-6">

        <div class="col"><h2>Source Code</h2></div>
        {% for item in site.sourcecode %}
            {% if forloop.index < 3 %}
                <div class="category-list row">
                        {% if item.image %}
                            <div class="col-md-3 col-sm-12">
                                <img class="img-fluid" src="{{ item.image }}" alt="{{ item.altdescription }}">
                            </div>
                        {% endif %}
                        <div class="col">
                            <h2 class=""><a href="{{ item.url }}">{{ item.name }}</a></h2>
                            <h5 class="text-muted">
                                {% for creator in item.creators %}
                                    {% if forloop.last == true %}
                                        {{ creator }}
                                    {% else %}
                                        {{ creator }},
                                    {% endif %}
                                {% endfor %}
                            </h5>
                
                            <p>{{ item.excerpt | markdownify }}</p>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}

        <div class="col">
                <a href="/resources/sourcecode">full list of source code</a>
        </div>

    </div>

</div>