---
layout: default
---
<div class="">
  {%- if page.title -%}
    {%- include title.html-%}
  {%- endif -%}

  {{ content }}
</div>

<hr>

  <div class="row">
    <div class="col-md">
      {%- if site.posts.size > 0 -%}
        
          <h2 class="h1">{{ page.list_title | default: "Latest News" }}</h2>
          <ul class="list-unstyled">
            {%- for post in site.posts -%}
            <li class="category-list">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <h3>
                <a class="" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              <h4 class="text-muted">{{ post.date | date: date_format }}</h4>
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
      {%- endif -%}
      </div>

      <div class="col-md">
            {% include preview-list.html collection=site.projects-interfaces title="Projects" link="/projects" %}
          
    </div>
</div>
