---
layout: default
---

  <div class="">
    {%- if page.title -%}
      <h1 class="">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}
    <div class="row">
      <div class="col">
        {%- if site.posts.size > 0 -%}
          
            <h2 class="">{{ page.list_title | default: "News" }}</h2>
            <ul class="">
              {%- for post in site.posts -%}
              <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <h6>{{ post.date | date: date_format }}</h6>
                <h3>
                  <a class="" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>
            <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
        {%- endif -%}
        </div>

      <div class="col">
        {% if site.demos.size > 0 %}
        <h2 class="">{{ page.list_title | default: "Demos" }}</h2>
          {% for demo in site.demos %}
            <h3><a href="{{ demo.url}}">{{ demo.name }}</a></h3>
          {% endfor %}
        {% endif %}
      </div>
  </div>
</div>