---
layout: default
---

<div class="row">
    {% if page.image %}
        <div class="col-lg-3">
            <img class="img-fluid" src="{{ page.image }}" alt="{{ page.altdescription }}">
        </div>
    {% endif %}

    <header class="col-md-auto align-items-center">
        <h1 class="display-5">{{ page.name }}</h1>
        <h2>{{ page.position }}</h2>
        {% if page.website %}
            <h3><a href="{{page.website}}">Website</a></h3>
        {% endif %}

        {% if page.email %}
            <h3><a href="mailto:{{page.email}}">Email</a></h3>
        {% endif %}
    </header>
</div>

<hr>

<div class="row">
    <div class="col">
        {{ content }}
    </div>
</div>
