---
layout: default
title: 
---
{{reference}}

<div class="{{key}}-materials">
    <ul class="bibliography-details">
      <!-- show BibTex modal button -->
      {% if entry.bibtex%}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#{{key}}-bibtex">
          BibTeX
        </button>
          
          <!-- Modal -->
        <div class="modal fade" id="{{key}}-bibtex" tabindex="-1" role="dialog" aria-labelledby="{{key}}-bibtex" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">BibTeX</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <pre class="">{{entry.bibtex}}</pre>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      {% endif%}
        <!-- show URL for supporting text -->
      {% if entry.url %}
      <a class="external-link" href="{{entry.url}}" target="_blank">Full text (PDF) <span class="fas fa-external-link-alt" title="PDF opens in a new window"></span><span class="sr-only">PDF opens in a new window</span></a>
      {% endif %}

    </ul>
  </div>